* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";

  /* scrollbar-color: #0f1111 grey;
    scrollbar-width: thin;
   */
}

@media screen and (max-width: 991px) {
  body {
    //background-color: red;
  }
}
@media screen and (max-width: 767px) {
  body {
    //background-color: green;
  }
}
@media screen and (max-width: 479px) {
  body {
    //background-color: yellow;
  }
}
